<!DOCTYPE html>
<html>

<head>
    <title>Chat</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

    <!-- Compiled and minified CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"> </script>

    <link href="static/styles.css" rel="stylesheet">

    {% block head %}
    {% endblock %}
</head>

<body>
    <nav id="header" style="height: 70px; overflow: hidden;">
        <div class="nav-wrapper" style="background: #4a85d9; height: 100%;">
            <div class="container" style="width:70%; height: 100%; ">
                <a href='#' class="brand-logo">{{client_name}} in {{room_name}}</a>
            </div>
        </div>
    </nav>
    {% block body %}
    {% endblock %}
</body>

</html>